body{
    text-align: center;
}

h1{
    margin: 2rem;
    margin-bottom: 4rem;
}

.inputs{
    font-size: 1.5rem;
}

.side-input{
    margin: 1rem;
    width: 200px;
    padding: 1rem;
    border-radius: 0.5rem;
}

#hypotenuse-btn{
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

#formula{
    font-size: large;
    font-weight: bold;
}

#output-div{
    font-size: 2rem;
    font-weight: bold;
    color: blue;
}